@font-face {
	font-family: 'kohibaeum';
	src: url('../styles/fonts/KOHIBaeumOTF.otf') format('opentype'),
		 url('../styles/fonts/KOHIBaeum.ttf') format('truetype');
}

@keyframes fadeInMove {
	from {
		opacity: 0;
		transform: translateY(50px); /* 아래에서 위로 올라오게 */
	}
	to {
		opacity: 1;
		transform: translateY(0); /* 원래 위치로 */
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%); /* 화면 오른쪽 밖 */
		opacity: 0; /* 투명하게 시작 */
	}
	to {
		transform: translateX(0); /* 원래 위치 */
		opacity: 1; /* 완전히 보임 */
	}
}


.home {
	padding: 120px 60px;
	box-sizing: border-box;
}

.home__title {
	display: flex;
	flex-direction: column;
	/* animation: fadeInMove 1s ease-out; */
}

.home__title--logo {
	width: 545px;
	height: 82px;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease, transform 1s ease;
}

.home__title--logo.show {
	opacity: 1;
	transform: translateY(0);
}

.home__title--logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
	user-select: none;

}

.home__character {
	width: 900px;
	height: 580px;
	display: flex;
	flex-direction: row;
	justify-self: end;
	position: absolute;
	right: 0;
	bottom: 120px;
	/* border: solid tomato 3px; */
	/* animation: slideInFromRight 1.5s ease-out; */
	/* animation-delay: 0.5s; */
}

.home__character img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	object-fit: cover;
	/* 고스트 현상 제거 */
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}