@font-face {
	font-family: 'kohibaeum';
	src: url('../styles/fonts/KOHIBaeumOTF.otf') format('opentype'),
		 url('../styles/fonts/KOHIBaeum.ttf') format('truetype');
  }

.home {
	padding: 120px 60px;
	box-sizing: border-box;
}

.home__title {
	display: flex;
	flex-direction: column;
}

.home__title--logo {
	width: 545px;
	height: 82px;
}

.home__title--logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
	user-select: none;

}

.home__character {
	width: 900px;
	height: 580px;
	display: flex;
	flex-direction: row;
	justify-self: end;
	position: absolute;
	right: 0;
	bottom: 120px;
	/* border: solid tomato 3px; */
}

.home__character img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	object-fit: cover;
}